/* fonts */

body {
    font-family: 'Roboto', sans-serif; /* Apply the Google Font Roboto */
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; /* Use bold weight */
    color: white;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; /* Use regular weight */
}

/* containers */ 

.container-70 {
    width: 70%;
    height: 100vh;
    text-align: center; 
}
.container-30 {
    width: 30%;
    height: 100vh;
    background-color: grey;
}

.container-70 h1 {
    line-height: 1.2; /* Adjust as necessary */
}

.container-30 h3 {
    line-height: 1.6; /* Match the line height to the larger font */
}

.rules-box {
    border: 1px solid rgb(73, 73, 73); /* Gray border */
    border-radius: 8px; /* Rounded corners */
    padding: 15px; /* Padding inside the box */
    margin-top: 20px; /* Margin above the box */
    width: 75%;
}

/* elements */ 

#reaction-button {
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    background-color: black;
    border-color: white;
    color: white;
}

#same-player {
    background-color: grey;
    color: white;
    border: none;
}

#new-player {
    background-color: black;
    color: white;
    border: none;
}